.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.week-header {
  cursor: pointer;
  background: white;
}

.calendar .body .cell {
  position: relative;
  border-right: 1px solid lightgray;
  overflow: hidden;
  cursor: pointer;
  background: white;
  }

.calendar .body .cell:hover {
  background: whitesmoke;
}
.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1affa0 0%,#cff153 40%);
  border-image-slice: 1;
}

.calendar .body .column {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}